<% content_for :title, "Analysis" %>
<div class="container">
    <h1>
        Analyses
    </h1>
    <br />


    <div id="analyses_list" class=".container-fluid">
        <div class="row">
            <% @analyses.each do |analysis| %>
                <div class="col-md-4 module_card">
                    <div class="card_img">
                        <% target = "/submit/" + analysis.mid.to_s + '/'%>
                        <% if analysis.cover_image.nil? %>
                            <%=link_to image_tag("628.png"), target%>
                        <% else %> 
                            <%=link_to image_tag(analysis.cover_image), target%>
                        <% end %>
                        
                    </div>

                    <div class="card_body">
                        <h5>
                            <%=analysis.name%>
                        </h5>

                        <p>
                            <%=analysis.description%>
                        </p>
                    </div>
                        
                </div>
            <%end %>

        </div>

    </div>
    <hr/>
        <h1>Analysis Pipelines</h1>
    <br>
    <div id="pipelines_list" class=".container-fluid">
        <div class="row">
            <% @pipelines.each do |pipeline| %>
                <div class="col-md-4 module_card">
                    <div class="card_img">
                        <% target = "/submit-pipeline/" + pipeline.pid.to_s + '/' %>
                        <% if pipeline.cover_image.nil? %>
                            <%=link_to image_tag("628.png"), target%>
                        <% else %> 
                            <%=link_to image_tag(pipeline.cover_image), target%>
                        <% end %>
                        
                    </div>

                    <div class="card_body">
                        <h5>
                            <%=pipeline.name%>
                        </h5>

                        <p>
                            <%=pipeline.description%>
                        </p>
                    </div>
                        
                </div>
            <%end %>

        </div>

    </div>
</div>