<h1>
Admin page
</h1>

<p>
    This page is made for admin to add project metadata, sample metadata, sample abandance data, every operation need password.
</p>

<hr />

<br />
<h4>
Project management:
</h4>


<%= form_tag import_projects_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import project from csv" %>
<% end %>

<br />
<h4>
Sample management:
</h4>
<br />
<h5>
  Modify the metadata:
</h5>

<%= form_tag({action: :modify_sample_metadata}, multipart: true) do %>
  <p>
    Please select the project whose samples need to be modified
  </p>
  <%= select_tag :project_id, options_from_collection_for_select(@projects, :id, :name, -1) %>
  <p> 
    Please select csv file to be imported:
  </p>
  <%= file_field_tag 'file' %>
  <%= submit_tag 'Submit'%>
<% end %>

<br />
<h5>
  Modify the abandance:
</h5>

<%= form_tag({action: :modify_sample_abd}, multipart: true) do %>
  <p>
    Please select the project whose samples need to be modified
  </p>
  <%= select_tag :project_id, options_from_collection_for_select(@projects, :id, :name, -1) %>
  <p> 
    Please select tsv file to be imported:
  </p>
  <%= file_field_tag 'file' %>
  <%= submit_tag 'Submit'%>
<% end %>
