<%= form_for @cancer do |f| %>
 
  <% if @cancer.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@cancer.errors.count, "error") %> prohibited
        this cancer type from being saved:
      </h2>
      <ul>
        <% @cancer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% @attrs.each do |attr| %>
    <% if attr != 'id' && attr != 'created_at' && attr != 'updated_at' %>
      <% if attr == 'cover_image' %>
        <p> 
          <%= f.label attr.capitalize %> <br>
          <%= f.text_field :cover_image %>
        </p>
        <% if !@organ.cover_image.nil? %>
          <%= image_tag(@cancer.cover_image, width: '400') %>
        <% end %>
      <% else %>
        <p> 
          <%= f.label attr.capitalize %> <br>
          <%= f.text_field attr %>
        </p>
      <% end %>
    <% end %>
  <% end %>
  <p>
    <%= f.submit %>
  </p>
<% end %>

