<% content_for:head do%>

  
  <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/fixedcolumns/3.3.2/js/dataTables.fixedColumns.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedcolumns/3.3.2/css/fixedColumns.dataTables.min.css">
  <%= javascript_pack_tag "datatable" %>
<%end%>

<% content_for :title, 'Cancer '+ @cancer.cancer_name %>

<div class="container">
  <h1>
    Cancer Type Information
  </h1>
  <%#= link_to 'Edit', edit_project_path(@project) %> 
  <%= link_to 'Back', cancers_path %>
  <br/>

  <div class="row">
    <% @attrs.each do |attr| %>
      <% if attr != 'id' && attr != 'created_at' && attr != 'updated_at'%>
        <% if attr == 'cover_image' && %>
        
          <% if !@cancer.cover_image.blank? %>

            <div class = 'col-md-2'>
                <%= image_tag @cancer.cover_image, class: "rounded-circle z-depth-2" %>
            </div>
            <div class = 'col-md-10'></div>

          <% end %>
        <% else %>
            <div class="col-md-6">
                <strong><%=attr%>: </strong>
                <%= @cancer[attr] %>
            </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <br />

  <h2>Projects</h2>
  <p>
    <span class="download_span">
      Download projects information:
      <%= link_to "Metadata", cancer_path(format: "csv") %>
    </span>
  </p>


  <div id='hidden_helper'>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownAttributes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Click to view hidden columns:
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownAttributes">
        <% i=1 %>
        <% @project_attrs.each do |attr| %>
          <% if !@vis.include? attr %>
            <div class = "dropdown-item">
              <input id = <%= attr %> type= "checkbox" class="toggle-vis" data-column='<%=i.to_s%>'>  
              <label for= <%= attr %> > <%= attr %></label>
            </div>
          <% end %>
          <%i += 1%>
        <%end%>
      </div>
    </div>
  </div>
  
  <br/>

  <%= form_tag export_selected_projects_path(format: "csv"), multipart: true do %>  
    <%= content_tag :table, role: :datatable, class: "display", id: "table_page", data: { url: cancer_path(format: :json)} do %>
      <thead>
            <th>
              <input type="checkbox" class="selectAll" name="selectAll" value="all">
            </th>
            <% @project_attrs.each do |attr| %>
              
              <th> <%= attr %> </th>
              
            <% end %>
            <th>details</th>
      </thead>
      <tbody>
      </tbody>
    <% end %>

    <%= submit_tag "Download selected metadata" , :class => "s_table_sub"%>
    <%#= submit_tag "download selected samples infiltration to file", :name => 'infiltration', :class => "s_table_sub"  %>
    <%#= submit_tag "download selected samples sequence to file", :name => 'sequence' %>



    <%= hidden_field_tag 'cancer_id', @cancer.id %>

    <%#= submit_tag "dowload filtered samples metadata to file", :name => 'filter_metadata', :class => "s_table_sub" %>
    <%#= submit_tag "dowload filtered samples infiltration to file", :name => 'filter_inf', :class => "s_table_sub" %>
    <%#= submit_tag "export selected samples to", :name => 'seleted2ds', :class => "s_table_sub"  %>
    <%#= submit_tag "export filtered samples to", :name => 'filter2ds', :class => "s_table_sub"  %>
    <!-- <select id="select_box" name="ds_selected">
      <option value="">--Please choose a dataset--</option>
      <% @datasets.each do |ds|%>
        <option value=<%=ds.name%>> <%=ds.name%></option>
      <%end%>
    </select>
  <% end %>
  <p>
    If you do NOT have any dataset, create one here: 
    <%=link_to 'Create new dataset', new_user_dataset_path(:user_id=>@user.id)%>
  </p> -->

  <p>
    *To avoid frenquent download, please refresh the page to enable download again.
  </p>



  <%#=link_to 'Download selected sequencing data', download_selected_inf_project_samples_path(@project.id) %>

  <%#= form_tag import_project_samples_path([@project]), multipart: true do %>
    <%#= file_field_tag :file %>
    <%#= submit_tag "Import metadata by csv" %>
  <%# end %>

  <%#= form_tag import_inf_table_project_samples_path([@project]), multipart: true do %>
    <%#= file_field_tag :file %>
    <%#= submit_tag "Import infiltration by tsv" %>
  <%# end %>

</div>



