<%= form_for @project do |f| %>
 
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@project.errors.count, "error") %> prohibited
        this project from being saved:
      </h2>
      <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :num_of_samples %><br>
    <%= f.text_field :num_of_samples %>
  </p>

  <p>
    <%= f.label :related_publications %><br>
    <%= f.text_area :related_publications %>
  </p>


  <p>
    <%= f.submit %>
  </p>
 
<% end %>