<% content_for:head do%>

  
  <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/fixedcolumns/3.3.2/js/dataTables.fixedColumns.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedcolumns/3.3.2/css/fixedColumns.dataTables.min.css">
  <%= javascript_pack_tag "datatable" %>
<%end%>

<% content_for :title, 'Project '+ @project.project_name  %>

<div class="container">
  <h1>
    Project Information
  </h1>
  <%#= link_to 'Edit', edit_project_path(@project) %> 
  <%= link_to 'Back', projects_path %>
  <br/>

  <div class="row">
    <% @attrs.each do |attr| %>
      <% if attr != 'id' && attr != 'created_at' && attr != 'updated_at'%>
        <div class="col-md-6">
          <strong><%=attr%>: </strong>
          <%= @project[attr] %>
        </div>
      <% end %>
    <% end %>
  </div>
  <br />

  <div class = "container">
    <ul class="nav nav-tabs" id="project-datils-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="sample-table-tab" data-toggle="tab" href="#sample-details" role="tab" aria-controls="sample-details" aria-selected="true">Samples</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="project-overview-tab" data-toggle="tab" href="#project-overview" role="tab" aria-controls="project-overview" aria-selected="false">Overview</a>
    </li>
    </ul>
    <div class="tab-content" id="projectDeailsTabContent">
      <div class="tab-pane fade show active" id="sample-details" role="tabpanel" aria-labelledby="sample-table-tab">

                          <p>
                            <span class="download_span">
                              Download samples information:
                              <%= link_to "Metadata", project_path(format: "csv") %>
                            </span>
                          </p>

                          <div id='hidden_helper'>

                            <div class="dropdown">
                              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownAttributes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Click to view hidden columns:
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownAttributes">
                                <% i=1 %>
                                <% @sample_attrs.each do |attr| %>
                                  <% if !@vis.include? attr %>
                                    <% attr = attr.gsub(/^n_/, "") %>
                                    <% attr = attr.gsub(/^c_/, "") %>
                                    <div class = "dropdown-item">
                                      <input id = <%= attr %> type= "checkbox" class="toggle-vis" data-column='<%=i.to_s%>'>  
                                      <label for= <%= attr %> > <%= attr %></label>
                                    </div>
                                  <% end %>
                                  <%i += 1%>
                                <%end%>
                              </div>
                            </div>
                          </div>
                          <br/>
                          <%= form_tag make_selected_file_samples_path, multipart: true do %>  
                            <%= content_tag :table, role: :datatable, class: "display", id: "table_page", data: { url: project_path(format: :json)} do %>
                              <thead>
                                    <th>
                                      <input type="checkbox" class="selectAll" name="selectAll" value="all">
                                    </th>
                                    <% @sample_attrs.each do |attr| %>
                                      <% attr = attr.gsub(/^n_/, "") %>
                                      <% attr = attr.gsub(/^c_/, "") %>
                          
                                      <th> <%= attr %> </th>
                                      
                                    <% end %>
                                    <th>action</th>
                              </thead>
                              <tbody>
                              </tbody>
                            <% end %>
                            

                            <div class="dropdown">
                              <button class="btn btn-secondary dropdown-toggle" type="button" id="projectSampleTableDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Download
                              </button>
                              <div class="dropdown-menu" aria-labelledby="projectSampleTableDropdownButton">
                                <%= submit_tag "dowload selected samples metadata to file", :name => 'metadata', :class => "s_table_sub dropdown-item" %>
                                <div class="dropdown-divider"></div>
                                <%= submit_tag "download selected samples infiltration to file", :name => 'infiltration', :class => "s_table_sub dropdown-item"  %>
                                <div class="dropdown-divider"></div>
                                <%= submit_tag "dowload filtered samples metadata to file", :name => 'filter_metadata', :class => "s_table_sub dropdown-item" %>
                                <div class="dropdown-divider"></div>
                                <%= submit_tag "dowload filtered samples infiltration to file", :name => 'filter_inf', :class => "s_table_sub dropdown-item" %>
                                <div class="dropdown-divider"></div>
                                <%= submit_tag "export selected samples to", :name => 'seleted2ds', :class => "s_table_sub dropdown-item"  %>
                                <div class="dropdown-divider"></div>
                                <%= submit_tag "export filtered samples to", :name => 'filter2ds', :class => "s_table_sub dropdown-item"  %>
                              </div>
                            </div>

                            <select id="select_box" name="ds_selected" >
                              <option value="">--Please choose a dataset--</option>
                              <% @datasets.each do |ds|%>
                                <option value=<%=ds.name%>> <%=ds.name%></option>
                              <%end%>
                            </select>

                            <%= hidden_field_tag 'project_id', @project.id %>

                          <% end %>
                          <br />
                            
                          <p>
                            If you do NOT have any dataset, create one here: 
                            <%=link_to 'Create new dataset', new_user_dataset_path(:user_id=>@user.id)%>
                          </p>

                          <p>
                            *To avoid frenquent download, please refresh the page to enable download again.
                          </p>



                          <%#=link_to 'Download selected sequencing data', download_selected_inf_project_samples_path(@project.id) %>

                          <%#= form_tag import_project_samples_path([@project]), multipart: true do %>
                            <%#= file_field_tag :file %>
                            <%#= submit_tag "Import metadata by csv" %>
                          <%# end %>

                          <%#= form_tag import_inf_table_project_samples_path([@project]), multipart: true do %>
                            <%#= file_field_tag :file %>
                            <%#= submit_tag "Import infiltration by tsv" %>
                          <%# end %>


      </div>
      <div class="tab-pane fade" id="project-overview" role="tabpanel" aria-labelledby="project-overview-tab">
        <br>
        <br>

        <div id = "landscape" class = "container Block">

            <%# selector row%>
            <div id="landscapeDescription" class="row description">
            Some description for Immune Subtype Landscape in project overview
            </div>
            
            <div class="select-bar form-inline row">
              <div class="sdiv col">
                <div class="select-title">
                    Please choose the cell division method:
                </div>
                <select class="form-select col" id = "landscape_method_selector">
                    <option selected="selected" value = "CIBERSORT">CIBERSORT</option>
                    <option value="EPIC">EPIC</option>
                    <option value="MCPcounter">MCPcounter</option>
                    <option value="QuanTIseq">QuanTIseq</option>
                    <option value="TIMER">TIMER</option>
                    <option value="xCell">xCell</option>
                </select>
              </div>
            </div>

            <div class="row vizBlock">
                <div class="col vis" id = "landscapeVis">
                </div>
            </div>
        </div>

        <hr />
        <br />

        <div id = "bar" class = "container Block">

            <%# selector row%>
            <div id="barDescription" class="row description">
            Some description for Immune Cell Data bar in project overview
            </div>
            
            <div class="select-bar form-inline row">
              <div class="sdiv col">
                <div class="select-title">
                    Please choose the cell division method:
                </div>
                <select class="form-select col" id = "bar_method_selector">
                    <option selected="selected" value = "CIBERSORT">CIBERSORT</option>
                    <option value="EPIC">EPIC</option>
                    <option value="MCPcounter">MCPcounter</option>
                    <option value="QuanTIseq">QuanTIseq</option>
                    <option value="TIMER">TIMER</option>
                    <option value="xCell">xCell</option>
                </select>
              </div>
            </div>
            <div class="row vizBlock">
                <div class="col vis" id = "barVis">
                </div>
            </div>
        </div>

        <hr />
        <br />

        <div id = "line" class = "container Block">
            <%# selector row%>
            <div id="lineDescription" class="row description">
            Some description for survival chart in project overview
            </div>
            <div class="row vizBlock">
                <div class="col" id = "lineVis">
                </div>
            </div>
        </div>

        <hr />
        <br />

        <div id = "regulator" class = "container Block">
            <%# selector row%>
            <div id="regulatorDescription" class="row description">
            Some description for immune regulator in project overview
            </div>
            <div class="row vizBlock">
                <div class="col vis" id = "regulatorVis">
                </div>
            </div>
        </div>
      
        <%=javascript_pack_tag 'pj-overview-viz' %>
      </div>

      
      
    </div>


        
  <div>




                
</div>



