<head>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<h1>
    Database Overview
</h1>

<div class="container">
    <div class="row">
        <p>
            Database Introduction
        </p>
    </div>
    <div class="row">

    </div>
</div>

<!-- this is the 1st block

<div class="container">
    <div class="row">

    </div>
</div>

-->

<!-- this is the 2nd block-->

<div class="container">
    <ul id="myTab" class="nav nav-tabs">
        <li class="dropdown">
            <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">Statistics 
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                <li><a class="active" href="#s1" tabindex="-1" data-toggle="tab">s1</a></li>
                <li><a href="#s2" tabindex="-1" data-toggle="tab">s2</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">Growth Curve
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                <li><a href="#g1" tabindex="-1" data-toggle="tab">g1</a></li>
                <li><a href="#g2" tabindex="-1" data-toggle="tab">g2</a></li>
            </ul>
        </li>
    </ul>

    <div id="myTabContent" class="tab-content container">

        <div class="row tab-pane fade in active" id="s1">
            <div class="col-md-4 dataframe" id="s1f">
                s1
                <table id="Table" class="display">
                    <thead>
                    <% @data[0]['header'].each do |th| %>
                        <th> <%=th.capitalize %> </th>
                    <% end %>
                    </thead>

                    <tbody>
                    <% (@data[0]['rows']).each do |r| %>
                        <tr>
                        <% r.each do |td| %>
                            <td>                              
                                <%=td%> 
                            </td>
                        <%end%>
                        </tr>
                    <%end%>
                    </tbody>
                </table>
            </div>
            <div class="col-md-8 graph" id="s1g">
                a graph should be here
            </div>
        </div>

        <div class="row tab-pane fade" id="s2">
            <div class="col-md-4 dataframe" id="s2f">
                s2
                <table id="Table" class="display">
                    <thead>
                    <% @data[1]['header'].each do |th| %>
                        <th> <%=th.capitalize %> </th>
                    <% end %>
                    </thead>

                    <tbody>
                    <% (@data[1]['rows']).each do |r| %>
                        <tr>
                        <% r.each do |td| %>
                            <td>                              
                                <%=td%> 
                            </td>
                        <%end%>
                        </tr>
                    <%end%>
                    </tbody>
                </table>
            
            </div>
            <div class="col-md-8 graph" id="s2g">
                a graph should be here
            </div>
        </div>

        <div class="row tab-pane fade" id="g1">
           <div class="col-md-4 dataframe">
                <p>g1</p>
            </div>
            <div class="col-md-8 graph">
                a graph should be here
            </div>
        </div>

        <div class="row tab-pane fade" id="g2">
            <div class="col-md-4 dataframe">
                <p>g2</p>
            </div>
            <div class="col-md-8 graph">
                a graph should be here
            </div>
        </div>

    </div>

    
</div>

<!-- this is the 3rd block

<div class="container">
    <div class="row">

    </div>
</div>

-->

<%=javascript_pack_tag 'db-overview-viz'%>
