<% content_for :head do %>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">

<%end%>
<% content_for :title, "Overview" %>

<div class = "index-banner">
    <div class = "container">
    <h1 class = "display-4 font-weight-bold">
        Database Overview
    </h1>
    </div>
    
</div>
<br>
<div id="head" class="container Block">

    
    <div class="row">
        <div class="col">
            <div class="ov-number">
                11688
            </div>
            <div class="ov-type">
                Samples
            </div>
            
            
        </div>
        <div class="col">
            <div class="ov-number">
                5813
            </div>
            <div class="ov-type">
                Individuals
            </div>
            
            
        </div>

        <div class="col">
            <div class="ov-number">
                54
            </div>
            <div class="ov-type">
                Projects
            </div>
            
           
        </div>

        <div class="col">
            <div class="ov-number">
                29
            </div>
            <div class="ov-type">
                Diseases
            </div>
            
            
        </div>

        <div class="col">
            <div class="ov-number">
                15
            </div>
            <div class="ov-type">
                Countries
            </div>
            
            
        </div>
    </div>
    <br/>
</div>
<div class = "container Block"> 


<!-- to be deleted
<h2>Sample distribution</h2>
<div id = "world-map" class = "container Block"> </div>
</div>
up to here -->

<br />
<hr />
<section id = "cancer_icon">
    <h2>Cancer Type</h2>
    <div class = "container-fluid container">
        <div class = "row cols-xs-space cols-sm-space cols-md-space text-center">            
            <% @singleCancers.each do |cc| %>
                <div class = "col-lg-2 col-lg-offset-1 mb-4">
                    <%= link_to cc do %>
                        <% if cc.cover_image.blank? %>
                            <%= image_tag "module.jpg", class: "rounded-circle z-depth-2" %>
                        <% else %>
                            <%= image_tag cc.cover_image, class: "rounded-circle z-depth-2" %>
                        <% end %>
                    
                        <%#= image_tag og.primary_site + ".png", class: "rounded-circle z-depth-2" %>
                    <% end %>
                    <h4> <%= cc.cancer_type %> </h4>
                </div>
            <% end %>
            <div class = "col-lg-5" > </div>
            <div class = "col-lg-2 col-lg-offset-1 mb-4">
                    
                    <div type="button" class="fa fa-lightbulb-o fa-lg" title="Cancers List" data-toggle="popover" title="" data-content= ' 
                    <%#= render :partial => 'partials/popover' %>
                    <ul>
                    <% @cancers.each do |cc| %>
                        <% if @groupedCancers.include?(cc) %>
                            <li><%= link_to cc.cancer_type, cc %></li>
                        <% end %>
                    <% end %>
                    </ul>
                    '> 
                    <%= image_tag "other.png", class: "rounded-circle z-depth-2" %> 
                    </div> 
                    <h4> Others </h4>
            </div>
            <div class = "col-lg-5" > </div>
        </div>
    </div>
</section>
<hr />



<br />
<h2> Database overview visualization</h2>


<div id = "barPlot" class = "container Block">
    
    <%# selector row%>
    <div id="barDescription" class="row description">
    <h3>Some description for bar plot</h3>
    </div>
  

    <div class="select_bar form-inline row">
        <div class="sdiv col">
            <div class="select_title">
                Please choose project or cancer type:
            </div>
            <select class="form-select col" id = "bar-selector" name="bar_selected">
                <option selected="selected" value="project">Project</option>
                <option value="cancer">Cancer type</option>
            </select>
            <a id = "bar_download" href="/data/overview/project_samples.tsv" download> slkhf </a>
        </div>
    </div>

    <div class="row">
        <div class="col" id = "barVis">
        </div>
    </div>
</div>

<div id = "piePlot" class = "container Block">

    <%# selector row%>
    <div id="pieDescription" class="row description">
    Some description for pie plot
    </div>
    <div class="select_bar form-inline row">

        <div class="sdiv col">
            <div class="select_title">
                Please choose the cell division method:
            </div>
            <select class="form-select col pie-react" id = "pie-method-selector">
                <option selected="selected" value = "XCell">XCell</option>
                <option value="Timer">Timer</option>
                <option value="QuantiSeq">QuantiSeq</option>
                <option value="MCPCounter">MCPCounter</option>
                <option value="EPIC">EPIC</option>
                <option value="CIBERSORT">CIBERSORT</option>
                <option value="CIBERSORTx">CIBERSORTx</option>
                <option value="ImmuCellAI">ImmuCellAI</option>
            </select>
        </div>

        <div class="sdiv col">
            <div class="select_title">
                Please choose the cancer type:
            </div>
            <%= select_tag :pie_cancer_selector, options_from_collection_for_select(@cancers, :id, :cancer_type, 0) %>
            <%#= collection_select_tag(:pie_cancer_selector, Cancer.find(:all), :id, :cancer_type, {:include_blank => 'Cancer'}) %>
            <!--
            <select class="form-select col" id = "pie-cancer-selector">
                <% first = true %>
                <% @cancers.each do |cc| %>
                    <% if first == true %>
                        <option selected="selected" value= <%= cc.cancer_type %> >
                            <%= cc.cancer_type %>
                        </option>
                        <% first = false %>
                    <% else %>
                        <option value= <%= cc.cancer_type %> >
                            <%= cc.cancer_type %>
                        </option>
                    <% end %>
                <% end %>
            </select> -->
        </div>

        <div class="sdiv col">
            <div class="select_title">
                Please choose the project:
            </div>
            <%#= collection_select(:pie_project_selector, Cancer.first.projects.all, :project_name, :project_name, {:include_blank => 'Group'}, { :class: "pie_react" }) %>
            <%= select_tag :pie_project_selector, options_from_collection_for_select(@cancers[0].projects, :id, :project_name, 0) %>
            
            <!--
            <select class="form-select col pie-react" id = "pie-project-selector">
                <% first = true %>
                <% theCancer = @cancers.first %>
                <% theCancer.projects.each do |pj| %>
                    <% if first == true %>
                        <option selected="selected" value= <%= pj.project_name %> >
                            <%= pj.project_name %>
                        </option>
                        <% first = false %>
                    <% else %>
                        <option value= <%= pj.project_name %> >
                            <%= pj.project_name %>
                        </option>
                    <% end %>
                <% end %>
            </select>
            -->
        </div>
    </div>

    <div class="row">
        <div class="col" id = "pieVis">
        </div>
    </div>


</div>


<h2>
<%=javascript_pack_tag 'db-overview-viz'%> 
                        